.login {
    height: 100vh;
    width: 100%;
    background-image: url(../../img/bg/bg_connexion.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
}

.login .tab-content .logo-container {
    text-align: center;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login .tab-content .logo-container img {
    width: 40%;
    margin-bottom: 20px;
}

.login .tab-content form {
    width: 100%;
    padding: 0 100px;
    height: 50%;
    text-align: center;
}

.login .tab-content form label {
    font-size: 25px;
}

.login .tab-content form h3 {
    margin-bottom: 20px;
    font-weight: bold;
}

@media (max-width: 991px) {
    .login .tab-content form {
        padding: 0 20px;
    }
}