.contract {
    margin-top: 150px;
}

.contract .container {
    background-color: #f9f9f9;
    padding: 20px 0;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    position: relative;
}

.contract .container .addRule {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: var(--main-color);
    border: none;
    font-size: 20px;
}


.contract h1 {
    margin-bottom: 40px;
    text-align: center;
    color: var(--main-color);
}

.contract form {
    padding: 0 150px;
}

.contract form .btn-theme {
    margin-top: 60px;
}

.contract form label{
    font-size: 24px;
}

.contract form .row-rule {
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.contract form .row-rule label {
    width: 100%;
}

.contract form .row-rule input {
    width: 85%;
    margin-right: auto;
}

.contract form .row-rule .btn-theme {
    border: none;
    font-size: 15px;
    margin: 0;
}

.contract form select {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 4px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid var(--main-color);
    border-radius: 25px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.rules-list {
    list-style: url(../../img/icon/right-chevron.png) inside;
    padding-left: 0;
}

.rules-list li {
    padding: 40px 20px;
    font-size: 22px;
    position: relative;
    display:flex;
    align-items:center
}

.rules-list li:nth-child(even) {
    background-color: rgba(255,165,0,0.18);

}



@media (max-width: 991px) {
    .contract h1 {
        font-size: 30px;
    }

    .contract form {
        padding: 0 20px;
    }

    .contract .container {
        background-color: transparent;
        border-radius: 0;
        border: none;
    }

    .contract .container .addRule {
        top: 100px;
    }

    .contract form .row-rule input {
        width: 60%;
    }

}