.dashboard {
    margin-top: 120px;
    padding: 0 200px;
}

.dashboard .week-task {
    text-align: center;
}

.dashboard .week-task .list {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
}

.dashboard .week-task .list::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
    padding: 20px 0;
    border-radius: 10px;
    background: #f9f9f9; /* color of the tracking area */

}

.dashboard .week-task .list::-webkit-scrollbar-track {
    background: #cbcbcb; /* color of the tracking area */
    border-radius: 10px;

}

.dashboard .week-task .list::-webkit-scrollbar-thumb {
    background-color: var(--main-color); /* color of the scroll thumb */
    border-radius: 10px; /* roundness of the scroll thumb */

}

.dashboard .week-task .list .item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.dashboard .week-task .list .item .title {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.dashboard .week-task .list .item .name {
    width: 50%;
    margin-bottom: 0;
    margin-right: auto;
}

.dashboard .week-task .list .item .status {
    width: 40%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.8);
    color: #fff;
}

.week-task .item.valid {
    background-color: rgba(0, 128, 0, 0.3);
}

.week-task .item.valid .status {
    background-color: green;
}

.week-task .item.invalid {
    background-color: rgba(255, 0, 0, 0.3);
}

.week-task .item.invalid .status {
    background-color: red;
}

.week-task .item.waiting {
    background-color: rgba(255, 165, 0, 0.3);
}

.week-task .item.waiting .status {
    background-color: orange;
}

@media (max-width: 991px) {
    .dashboard {
        padding: 0 20px;
    }
}
