.page-form {
    margin-top: 150px;
}

.page-form .container {
    background-color: #f9f9f9;
    padding: 20px 0;
    border-radius: 20px;
    border: 1px solid var(--main-color);
}

.page-form h1 {
    margin-bottom: 40px;
    text-align: center;
    color: var(--main-color);
}

.page-form form {
    padding: 0 150px;
}

.page-form form label{
    font-size: 24px;
}


@media (max-width: 991px) {
    .page-form form {
        padding: 0 20px;
    }

    .page-form .container {
        background-color: transparent;
        border-radius: 0;
        border: none;
    }
}