.historic {
    margin-top: 150px;
}

.historic h1 {
    margin-bottom: 40px;
}

.historic .carousel-bg {
    border-top: 1px solid rgba(255,165,0,0.8);
    border-bottom: 1px solid rgba(255,165,0,0.8);
    background-color: rgba(255,165,0,0.3);
    padding: 40px 0;
}

.historic .item {
    background-color: #fff;
    border-radius: 10px;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.historic .item .title {
    text-align: center;
    background-color: var(--main-color);
    padding: 15px;
}

.historic .item .title h3, .historic .item .title h5 {
    color: #fff;
}

.historic .item .task-list {
    list-style: none;
    padding-left: 0;
    max-height: 350px;
    overflow-y: auto;
    margin-bottom: auto;
}

.historic .item .task-list li {
    padding: 20px 10px;
    font-size: 22px;
}

.historic .item .task-list li:nth-child(even) {
    background-color: rgba(255,165,0,0.18);
}

.historic .item .footer{
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--main-color);
}

.historic .item .footer p {
    margin-bottom: 0;
    font-size: 20px;
}

.historic .item .footer p strong {
    color: var(--main-color);
    font-weight: bold;
}

.BrainhubCarousel__arrows {
    position: relative;
    padding: 21px;
    border: none;
    overflow: hidden;
    outline: 0;
    font-size: 0;
    line-height: 0;
    border-radius: 50%;
    background-color: var(--main-color) !important;
}