.navbar-vertical {
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 230px;
    box-shadow: 4px 0 4px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    -webkit-transition: all 0.3s;
    z-index: 1001;
}

.navbar-vertical .logo-container {
    width: 100%;
    padding: 20px 70px;
}

.navbar-vertical .navigation {
    margin-bottom: auto;
}

.navbar-vertical .nav-item {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    -webkit-transition: all 0.3s;
    background-color: transparent;
}

.navbar-vertical .disconect {
    border-top: 2px solid #fff;
    background-color: var(--main-color-hover);
    justify-content: center;
}

.navbar-vertical .nav-item:hover {
    background-color: #fff;
}

.navbar-vertical .nav-item .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
}

.navbar-vertical .nav-item:hover .icon {
    background-color: var(--main-color);
}

.navbar-vertical .nav-item p {
    color: #fff;
    margin-bottom: 0;
    padding-left: 10px;
    font-size: 15px;
    -webkit-transition: all 0.3s;
}

.navbar-vertical .nav-item:hover p {
    color: var(--main-color);
}

.navbar-vertical .nav-item:nth-child(1) .icon {
    -webkit-mask-image: url(../../img/icon/dashboard.svg);
}

.navbar-vertical .nav-item:nth-child(2) .icon {
    -webkit-mask-image: url(../../img/icon/children.svg);
}

.navbar-vertical .nav-item:nth-child(3) .icon {
    -webkit-mask-image: url(../../img/icon/to-do-list.svg);
}

.navbar-vertical .nav-item:nth-child(4) .icon {
    -webkit-mask-image: url(../../img/icon/certificate.svg);
}

.navbar-vertical .nav-item:nth-child(5) .icon {
    -webkit-mask-image: url(../../img/icon/clock.svg);
}

.navbar-vertical .nav-item:nth-child(6) .icon {
    -webkit-mask-image: url(../../img/icon/checklist.svg);
}

.navbar-vertical .nav-item.disconect .icon {
    -webkit-mask-image: url(../../img/icon/logout.svg);
}

.open-menu.open-navbar-vertical ~ .navbar-vertical {
    transform: translateX(0) !important;
}

.box {
    display: block;
    width: 200px;
    height: 200px;
    background-color: gray;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.box.green {
    background-color: green;
}

@media (min-width: 991px) {
    .navbar-horizontal {
        display: none;
    }

    .navbar-vertical .cross {
        display: none;
    }

    .margin-navbar {
        margin-left: 230px;
    }

    .open-menu {
        display: none;
    }
}

@media (max-width: 991px) {
    .navbar-vertical {
        transform: translateX(-100%);
    }

    /*.cross {*/
    /*    position: fixed;*/
    /*    top: 10px;*/
    /*    right: 10px;*/
    /*    width: 40px;*/
    /*    height: 40px;*/
    /*    padding: 10px;*/
    /*    cursor: pointer;*/
    /*    filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.4));*/
    /*}*/

    .navbar-horizontal {
        background-color: var(--main-color);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .open-menu {
        width: 30%;
        position: fixed;
        top: 40px;
        right: -20px;
        z-index: 1000;
    }

    .open-menu img {
        width: 30%;
    }

    .navbar-horizontal .logo-container {
        width: 100%;
        text-align: center;
    }

    .navbar-horizontal .logo-container img {
        width: 15%;
    }
}

