.page-table {
    margin-top: 150px;
}

.page-table h1 {
    margin-bottom: 80px;
}

.page-table .add-child {
    width: 300px;
    margin-left: auto;
    margin-bottom: 20px;
}

.page-table thead th {
    border-top: none;
    font-size: 24px;
}

.page-table tbody tr:nth-child(even) {
    background-color: rgba(255, 165, 0, 0.1);
}

.page-table button {
    color: var(--main-color);
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.page-table .button:hover {
    color: var(--main-color-hover);
}

@media (max-width: 991px) {
    .page-table thead th {
        font-size: 20px;
    }

    .page-table .add-child {
        width: 300px;
        margin: auto auto 2px;
    }

    .container table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
