@import "css/component/connexion.css";
@import "css/component/navbar.css";
@import "css/component/table.css";
@import "css/component/formulaire.css";
@import "css/component/contract.css";
@import "css/component/dashboard.css";
@import "css/component/historic.css";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Source+Code+Pro:wght@200&display=swap');

:root {
  --main-color: #FFA500;
  --main-color-hover: #d5940b;
  --main-font: 'Amatic SC', cursive;
  --second-font: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5, h6, label {
  font-family: var(--main-font);
}

p, a, li {
  font-family: var(--second-font);
}

a {
  text-underline-position: under;
}

a:hover {
  color: var(--main-color);
  transition: all 0.3s;
}

.color-white {
  color: #fff !important;
}

.color-black {
  color: #000 !important;
}

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.color-theme {
  color: var(--main-color);
}

.btn-theme {
  background-color: var(--main-color);
  text-align: center;
  padding: 10px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  display: block;
  margin: 20px auto auto;
  text-decoration: none;
  -webkit-transition: all 0.3s;
}

.btn-theme:hover {
  background-color: var(--main-color-hover);
  color: #000;
  text-decoration: none;
}

.form-control {
  border: 2px solid var(--main-color);
  border-radius: 10px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.lien-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.total-point {
  margin-top: 20px;
  background-color: var(--main-color);
  padding: 10px 20px;
  color: #fff;
  max-width: 40%;
  margin-bottom: 0;
}